module_data/
raw_module_data/
processed_data/
build/
src/STRAWB.egg-info
dist/
envs/
venv/
.pytest_cache/
**/.ipynb_checkpoints
.DS_Store
**/.DS_Store
**/*.h5
**/*.hdf5
**/__pycache__
Pipfile
Pipfile.lock
config-* # personal config files
no_git/
.vscode/settings.json
settings.py
.venv/
**/*.pyc
**/__pycache__/